.departments h2 {
    margin-bottom: 20px;
}

.add-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.add-section input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-section button {
    background: #0f4c81;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn {
    background: #0f4c81;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}